@{
    ViewBag.Title = "About Us";
}
<br />
<section id="about" class="about">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Rocket Fuel Jobs</h2>
        </div>

        <div class="row content">
            <div class="col-lg-6 pt-4 pt-lg-0">


                <p class="about-content">
                    &emsp; This job board application was built to meet the requirements for the Final Developer Project for Centriq Training's Full Stack Web Development program, 2020-2021. The developer built this ASP.NET MVC application in 10 days using VisualStudio and Microsoft SQL Server Management Studio. If you are interested in having a similar job board application for your company, or any other freelance web development work, you can send a message to Spencer via the "Contact" page on this site or by visiting his personal web portfolio below:
                </p>

                <hr class="white-hr" />
                <img src="~/Content/img/s-pearson.png" alt="Spencer Pearson's portrait" />
                <br />
                <a href="http://spencerpearson.net" target="_blank" class="btn btn-success btn-lg btn-block">Spencer's Portfolio</a>
                
            </div>
            <div class="col-lg-6 about-content">
                <p>
                    &emsp; Rocket Fuel Jobs is an application built by Full Stack Developer Spencer Pearson for a fictional company, Rocket Fuel Coffee. The application is an internal company job board that allows users to register for an account, upload a resume and apply to any available jobs with a single click!
                </p>
                <ul>
                    <li><i class="ri-check-double-line"></i> Anonymous users have limited functionality, but can still see the Home, About, Locations and Contact pages. They can also sign up for an account and are given the option to upload their resume on the account registration page.</li>
                    <li><i class="ri-check-double-line"></i> New users are automatically assigned the "Applicant" role. Applicants can upload their resume and apply for open positions. They recieve email messages as the status of their application is updated.</li>
                    <li><i class="ri-check-double-line"></i> The "Manager" role can be given to any user by the Admin. Managers can review applications for open positions at their location. They have full CRUD functionality for Positions and Open Positions. Managers also can apply for internal jobs just like applicants.</li>
                    <li><i class="ri-check-double-line"></i> The "Admin" role has full CRUD functionality over Locations, Open Positions, Positions, and can assign roles to any user. Admins can also accept or reject applications like managers. </li>
                </ul>
            </div>
        </div>

    </div>
</section>