@model JobBoard.UI.MVC.Models.ContactViewModel

@{
    ViewBag.Title = "Email Confirmation";
}
<br />
<h2 class="view-title">@ViewBag.Title</h2>
<div class="detailsShape">
    <h4>We received the following message and will reply as soon as we can:</h4>
    <p>@Model.Message</p>
</div>
