@{
    ViewBag.Title = "DEMO purpose Email Link";
}
<br />
<h2 class="view-title">@ViewBag.Title.</h2>
<div class="detailsShape">
    <p class="text-info">
        Please check your email and confirm your email address.
    </p>
    <p class="text-danger">
        For DEMO only: You can click this link to confirm the email: <a href="@ViewBag.Link">link</a>
        Please change this code to register an email service in IdentityConfig to send an email.
    </p>
</div>
